<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Spring MVC Annotation -->
	<context:annotation-config />
	<mvc:annotation-driven />


	<mvc:resources mapping="/resources/**"
		location="/resources/" cache-period="100" />
	<context:component-scan
		base-package="winx.controller" />
	<!-- Kết nối CSDL -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		p:url="jdbc:sqlserver://localhost:1433; Database=LAPTRINHWEB"
		p:username="sa" p:password="123456">
	</bean>
	<!-- Cấu hình interceptor -->
	<mvc:interceptors>

		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<mvc:exclude-mapping path="/admin/login.htm" />
			<bean class="winx.interceptor.AdminInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/account.htm" />
			<mvc:mapping path="/review/**" />
			<mvc:mapping path="/cart.htm" />
			<mvc:mapping path="/cart/**" />
			<mvc:mapping path="/account.htm" />
			<mvc:mapping path="/checkout.htm" />
			<bean class="winx.interceptor.UserInterceptor" />
		</mvc:interceptor>
		
	</mvc:interceptors>
	<!-- Cấu hình Hibernate -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="packagesToScan" value="winx.entity" />
	</bean>
	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />
	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<!-- Cấu hình view -->
	<bean id="viewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="209715200" />
	</bean>
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="username"
			value="nguyenminhnhat301101@gmail.com" />
		<property name="password" value="jjyfzegieixvsego" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.starttls.enable">false</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
	<bean id="uploadFile" class="winx.bean.UploadFile">
		<property name="basePath"
			value="C:\\Learn\\HK2_Nam3\\Web\\WinXShop\\src\\main\\webapp\\resources\\imgs"></property>
	</bean>
	<!-- Cấu hình package chứa các controller -->

	<context:component-scan
		base-package="winx.controller" />

</beans>